@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ecf0f1;
}

.content{
    border-radius: 15px;
    background-color: #fff;
    width: 850px;
    height: 50%;
    justify-content: space-between;
    align-items: center;
    position: relative;
    
}

.content::before{
    content: " ";
    position: absolute;
    background-color: #e88d64;
    width: 35%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    left: 0;
}

.first-content{
    display: flex;
    
}
.first-content .segunda-div{
    z-index: 12;
}
.primeira-div{
    text-align: center;
    width: 40%;
    z-index: 10;
}

.segunda-div{
   width: 60%;
   margin-right: 150px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.lista-social{
    display: flex;
    list-style-type: none;
}
.item-social{
    border: 1px solid #e88d64;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    margin-left: 10px;
    color: #313133;
}
.item-social:hover{
    background-color: #86e6df;
    color: #fff;
    border-color: #86e6df;
}
.form{
    display: flex;
    flex-direction: column;
    width: 55%;
    text-align: center;
}
.form input{
    height: 45px;
    border: none;
    background-color: #ecf0f1;
    width: 100%;
}
label{
    background-color: #ecf0f1;
    margin: 8px;
    display: flex;
    align-items: center;
}
.icon{
    padding: 0 5px;
    color: #e88d64;
}
.titulo{
    font-size: 24px;
    text-transform: capitalize;
    font-weight: bold;
}
.welcome{
    color: #fff;
}
.criar{
    color: #4FD1C5;
}
.descricao{
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
}
.descricao-primeira{
    color: #fff;
}
.descricao-segunda{
    color: #313133;
}
.btn{
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    background-color: #4FD1C5;
    cursor: pointer;
    width: 150px;
    height: 30px;
    align-self: center;
    font-weight: bold;
    margin: 5px;
}
.btn:hover{
    background-color: transparent;
    color: #86e6df;
    border: 2px solid #86e6df;
}

.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.button1 {
    max-width: 200px;
    max-height: 40px;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #fff;
    background: #4FD1C5;
    background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 6px 6px 12px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 8px;
    margin-top: 20px;
}
  
.button1::before {
    content: '';
    border-radius: 1000px;
    min-width: calc(100px + 8px);
    min-height: calc(40px + 8px);
    border: 4px solid #00FFCB;
    box-shadow: 0 0 30px rgba(0,255,203,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}
  
.button1:hover, .button:focus {
    color: #313133;
    transform: translateY(-3px);
}
  
.button1::before, .button1:focus::before {
    opacity: 0.7;
}
  
.button1::after {
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 100%;
    border: 4px solid #00FFCB;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
}
  
.button1:hover::after, .button1:focus::after {
    animation: none;
    display: none;
}
  
@keyframes ring {
    0% {
      width: 15px;
      height: 15px;
      opacity: 1;
    }
    100% {
      width: 100px;
      height: 100px;
      opacity: 0;
    }
}

.second-content{
    position: absolute;
    display: flex;
}
.link{
    color: #313133;
}
.second-content .primeira-div{
    order: 2;
    z-index: -1;
}

.second-content .segunda-div{
    order: 1;
    z-index: -1;
}

.sign-in-js .first-content .primeira-div,
.sign-in-js .first-content .segunda-div{
    z-index: -1;
}

.sign-in-js .second-content .primeira-div,
.sign-in-js .second-content .segunda-div{
    z-index: 11;
}

.sign-in-js .content::before{
    left: 65%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    animation: slidein 2s;
}

.sign-up-js .first-content .primeira-div,
.sign-up-js .first-content .segunda-div{
    z-index: 11;
}

.sign-up-js .second-content .primeira-div,
.sign-up-js .second-content .segunda-div{
    z-index: -1;
}

.sign-up-js .content::before{
    left: 0;
    animation: slideup 2s;
}

@keyframes slidein {
    0%{
        left: 0;
        width: 40%;
    }

    25%{
        left: 25%;
        width: 45%;
    }

    50%{
        left: 40%;
        width: 50%;
    }

    75%{
        width: 45%;
        left: 55%;
    }

    100%{
        width: 35%;
        left: 60%;
    }
}

@keyframes slideup {
    0% {
        width: 40%;
        left: 60%;
    }
    25% {
        width: 45%;
        left: 55%;
    }
    50% {
        width: 50%;
        left: 40%;
    }
    75% {
        width: 45%;
        left: 25%;
    }
    100% {
        width: 35%;
        left: 0;
    }
}

@media screen and (max-width: 768px) {

    .content {
        width: 100%;
        height: 100%;
    }

    .content::before {
        width: 100%;
        height: 40%;
        top: 0;
        border-radius: 0;
    }

    .first-content, .second-content{
        flex-direction: column;
        justify-content: space-around;
    }

    .sign-in-js .content::before{
        top: 60%;
        left: 0;
        border-radius: 0;
    }

    .wrap{
        height: 35%;
    }

    .segunda-div{
        margin-right: 0;
    }

    @keyframes slidein {
        0%{
            top: 0;
            height: 35%;
        }
    
        25%{
            top: 25%;
            height: 45%;
        }
    
        50%{
            top: 40%;
            height: 50%;
        }
    
        75%{
            top: 55%;
            height: 45%;
        }
    
        100%{
            top: 60%;
            height: 40%;
        }
    }
    
    @keyframes slideup {
        0% {
            height: 40%;
            top:60%;
        }
        25% {
            height: 45%;
            top: 55%;
        }
        50% {
            height: 50%;
            top: 40%;
        }
        75% {
            height: 45%;
            top: 25%;
        }
        100% {
            height: 35%;
            top: 0;
        }
    }
}
